<div class="row">
  <div class="col-sm-12">
    <img src="assets/images/logo.jpg" class="logo">
  </div>
  <div class="col-sm-12">
    <p>Please stand with us in opposition to the ill-conceived NUSD proposal. We have created several letters that are directed to the County Board of Education that can be easily customizable and personalized to create greater impact. Simply provide your name, address and email in the box below, select the letter(s) you would like to send and hit SEND. It's that easy!<p>
    <p>The vote to move the petition forward by the Board of Education will take place on the 29th of August. We need to make sure our voices are heard, so please take a couple of minutes to send in your letters today and SHARE this with your family and friends to help us defeat this divisive and disruptive proposal that will only benefit a few select people and disenfranchise many thousands more.</p>
  </div>
  <div class="col-sm-12">
    <carousel (activeSlideChange)="changeSlide($event)">
      <slide *ngFor="let t of templates">
        <div class="card text-center">
          <div class="card-header">
            <h5>{{t.title}}</h5>
          </div>
          <div class="card-block">
            <p>{{t.content}}</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="col-sm-12 mt-4 mb-4">
    <form class="text-center" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" [formControl]="complexForm.controls['name']" value="saf">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" [formControl]="complexForm.controls['email']" value="dragon.blue128@yandex.com">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!complexForm.valid">Send Email</button>
    </form>
  </div>
</div>

