<div class="card text-center" [class.card-outline-success]="pos == 'center'" [class.card-outline-secondary]="pos == 'prev' || pos == 'next'">
  <div class="card-header">
    <h5 *ngIf="pos == 'prev' && prevTemp">{{prevTemp.title}}</h5>
    <h5 *ngIf="pos == 'center'">{{currentTemp.title}}</h5>
    <h5 *ngIf="pos == 'next' && nextTemp">{{nextTemp.title}}</h5>
  </div>
  <div class="card-block">
    <p *ngIf="pos == 'prev' && prevTemp">{{prevTemp.content}}</p>
    <p *ngIf="pos == 'center'">{{currentTemp.content}}</p>
    <p *ngIf="pos == 'next' && nextTemp">{{nextTemp.content}}</p>
  </div>
</div>